body{
    word-break: break-all;
    word-wrap: break-word;
    font-family: calibri, arial;
    width:90%;
    margin: 0 auto;
}
#unoptimised{
    display:block;
    width:50%;
}
div{
    padding: 20px;
}

.span5{
    float: left;
    display: block;
    width: 20%;
    border-right: 3px blue solid;
}
pre{
    display: block;
    width: 100%;
}

.well{
    background:#dedede;
    padding:10px;
    border-radius: 5px;
    margin: 15px;
    display: inline-block;
    float: right;
}