body{
    word-break: break-all;
    word-wrap: break-word;
    font-family: calibri, arial;
    width:90%;
    margin: 0 auto;
}
.span5{
    float: left;
    display: inline-block;
    width: 48%;
    margin: 1%;
    /*border-right: 3px blue solid;*/
}

.stats{
    color: blue;
}
.row-fluid{
    display: block;
    float: none;
    min-height: 200px;
}
hr{

    border-top: 1px solid #000 !important;

}



.linenums li{
    background: #dedede;
    padding-left: 1em;

}
textarea{
    background: #fff;
}

/**  prettyprint desert style */
/*
 * Derived from einaros's Sons of Obsidian theme at
 * http://studiostyl.es/schemes/son-of-obsidian by
 * Alex Ford of CodeTunnel:
 * http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
 */

.str
{
    color: #EC7600;
}
.kwd
{
    color: #93C763;
}
.com
{
    color: #66747B;
}
.typ
{
    color: #678CB1;
}
.lit
{
    color: #FACD22;
}
.pun
{
    color: #F1F2F3;
}
.pln
{
    color: #F1F2F3;
}
.tag
{
    color: #8AC763;
}
.atn
{
    color: #E0E2E4;
}
.atv
{
    color: #EC7600;
}
.dec
{
    color: purple;
}
pre.prettyprint
{
    border: 0px solid #888;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}
.prettyprint {
    background: #000;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #555;
    list-style-type: decimal;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #111;
}
@media print
{
    .str
    {
        color: #060;
    }
    .kwd
    {
        color: #006;
        font-weight: bold;
    }
    .com
    {
        color: #600;
        font-style: italic;
    }
    .typ
    {
        color: #404;
        font-weight: bold;
    }
    .lit
    {
        color: #044;
    }
    .pun
    {
        color: #440;
    }
    .pln
    {
        color: #000;
    }
    .tag
    {
        color: #006;
        font-weight: bold;
    }
    .atn
    {
        color: #404;
    }
    .atv
    {
        color: #060;
    }
}
Hide details
Change log
r199 by mikesamuel on Mar 30, 2012   Diff
patched in  issue 194  fix for line numbers
in sons of obsidian theme
Go to: 	
Older revisions
r189 by mikesamuel on Jun 5, 2011   Diff 
All revisions of this file
File info
Size: 1519 bytes, 118 lines
View raw file
