a{     color: blue;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}
a{    font: arial;
}


a ,b {    display: inline-block;
}
b ,a{    color: red;
}

a{    background: green;
}